<h1>Artworks#delete</h1>
<p>Find me in app/views/artworks/delete.html.erb</p>
<%= form_for(:artwork, :url =>{:action =>'destroy',:id=> @artwork.id}) do |f|%>
<p>tu veux vraiment effacer ? </p>
	<p><%=@artwork.name%></p>
<%= f.submit(:envoyer)%>
<%end%>