<h1>Artworks#show</h1>
<p>Find me in app/views/artworks/show.html.erb</p>
<table>
	<tr>
		<th>id</th>
		<th>name</th>
		<th>image</th>
	</tr>
	<tr>
		<td><%=@artwork.id%></td>
		<td><%=@artwork.name%></td>
		<td><%= image_tag @artwork.image.url(:thumb).to_s%></td>
		
	</tr>
</table>