
<p>hello <%=session[:user_name]%></p>
<ul>
<li><%= link_to "manage subjects", :controller => "subjects"%></li>	

<li><%= link_to "manage users", :controller => "artriver_users"%></li>
<li><%= link_to "logout", :action => "logout"%></li>
</ul>