<h1>Access#index</h1>
<p>Find me in app/views/access/index.html.erb</p>
<h1>page de l'admin</h1>

<p>hello <%=session[:user_name]%></p>
<ul>
<li><%= link_to "manage subjects", :controller => "subjects"%></li>	

<li><%= link_to "manage users", :controller => "artriver_users"%></li>
<li><%= link_to "logout", :action => "logout"%></li>
</ul>