<h1>Subjects#show</h1>
<p>Find me in app/views/subjects/show.html.erb</p>

<table>

<tr>
<th>name</th>
<th>subject</th>

</tr>
<tr>
<td><%=@subject.name%></td>
<td><%=@subject.description%></td>
</tr>
</table>