<table>



<%@artwork.each do |a|%>
<tr>
	<td><span>Paint name: </span><%=a.name%></td>
		
		
</tr>
<tr>
<td><span>Pseudo: </span><%=a.artriver_user.name%></td>
</tr>
<tr>
<td><%=image_tag a.image.url(:thumb).to_s%></td>
</tr>

<% end -%>

</tr>




</table>
