<!DOCTYPE html>
<html>
<head>
  <title>ArtriverDaily_beta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>artriver daily</h1>
<a href="">login</a>
<a href="">Join us</a>

<%= yield %>

</body>
</html>
